/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Gabriela);

/* Reset and basic styling */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #3498db; /* Change background color to a specific color */
  font-family: 'Gabriela', serif; /* Change font family */
  font-size: 16px; /* Change font size */
  color: #fff; /* Change font color */
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 40px;
}

#content {
  padding: 20px;
  background: linear-gradient(to bottom, #3498db, #2c3e50); /* Change background color to a gradient */
}

h1, h2 {
  font-family: 'Gabriela', serif;
  color: #fff;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
}

h3 {
  font-family: 'Gabriela', serif;
  font-size: 1.5em;
  margin-top: .5em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 1em;
}

a {
  color: #0a0909; /* Change link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}

